.page{
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background: gray;
}

.name{
    display: flex;
    align-items: center;
    font-size: 56px;
    color: black;
}